:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish--blue: hsl(246, 25%, 77%);
}

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: hsl(0, 100%, 74%) !important;
  background-image: url("../images/bg-intro-desktop.png") !important;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/*GLOBAL*/

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 3rem;
  min-height: 100vh;
}

/*CONTAINER-LEFT*/

.container-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 500px;
  margin-right: 5rem;
}

.container-left > h1 {
  font-size: 3rem !important;
  margin-top: 2rem !important;
  color: white;
  font-weight: 700 !important;
}

.container-left > p {
  margin-top: 1rem;
  color: white;
}

/*CONTAINER RIGHT*/

.container-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  align-content: center;
  max-width: 550px;
}

button {
  padding: 0.9em !important;
  width: 100%;
  border: none;
  background-color: hsl(154, 59%, 51%);
  border-radius: 5px !important;
  color: white;
  font-size: 0.85rem !important;
  box-shadow: 1px 2px 4px hsl(156deg 40% 37%);
  letter-spacing: 2 !important;
}

.hidden {
  display: none;
}

.error-message {
  font-size: 12px !important;
  color: red;
  font-style: italic;
  text-align-last: end;
}

.input-invalid {
  background: url("images/icon-error.svg") no-repeat;
  background-position: 26rem center;
}

.invalid-icon {
  position: relative;
  float: right;
  margin-right: 1rem;
  top: -55px;
  opacity: 0;
}

.terms-of-service {
  color: hsl(0, 100%, 74%);
}

.disclaimer {
  font-size: 0.6rem;
  text-align: center;
  margin-top: 1rem;
  color: gray;
}

.form-banner {
  text-align: center;
  background: hsl(248, 32%, 49%);
  border-radius: 8px;
  padding: 1.4rem;
  color: white;
  font-size: 0.9rem;
  margin-bottom: 1em;
  box-shadow: 1px 2px 5px hsl(264deg 45% 29%);
}

.form-wrapper {
  background-color: white;
  padding: 2.5rem 3rem;
  border-radius: 8px;
  box-shadow: 2px 6px 29px hsl(0deg 0% 25% / 51%);
}

.form-control {
  background-color: white;
  height: calc(2.2rem + 0.95rem) !important;
  border-radius: 0.5rem;
  width: 100%;
}

/*MOBILE SIZING*/

@media screen and (max-width: 1000px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .container-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .container-left > h1 {
    text-align: center;
    font-size: 2.25rem !important;
    margin: 1rem;
    width: 100%;
  }

  .container-left > p {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 0.95rem;
  }

  .container-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-content: center;
  }

  .form-banner {
    text-align: center;
    background: hsl(248, 32%, 49%);
    border-radius: 8px;
    padding: 1rem 5rem;
    color: white;
    font-size: 0.8rem;
    margin-bottom: 1.5em;
    box-shadow: 1px 2px 5px hsl(264deg 45% 29%);
  }

  .form-wrapper {
    padding: 2rem 1.5rem;
  }
}
