* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 100%, 74%) !important;
  background-image: url("img/bg-intro-desktop.png");
  padding: 9rem 3rem;
  height: 100vh;
}

h1 {
  color: white;
  font-weight: 700 !important;
  margin-right: 15%;
  font-size: 3rem !important;
  margin-bottom: 1.5rem !important;
}

p {
  width: 85%;
  color: white;
}

button {
  padding: 0.9em !important;
  width: 100%;
  border: none;
  background-color: hsl(154, 59%, 51%);
  border-radius: 5px !important;
  color: white;
  font-size: 0.85rem !important;
  box-shadow: 1px 2px 4px hsl(156deg 40% 37%);
  letter-spacing: 2 !important;
  margin-top: 1rem !important;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 15px;
}

.container-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem;
}

.container-right {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-items: center;
  align-content: center;
}

.hidden {
  display: none;
}

.error-message {
  font-size: 12px !important;
  color: red;
  font-style: italic;
  text-align-last: end;
}

.input-invalid {
  background: url("images/icon-error.svg") no-repeat;
  background-position: 25rem center;
}

.invalid-icon {
  position: relative;
  float: right;
  margin-right: 1rem;
  top: -3.7rem;
  opacity: 0;
}

.terms-of-service {
  color: hsl(0, 100%, 74%);
}

.disclaimer {
  font-size: 0.6rem;
  text-align: center;
  margin-top: 1rem;
  color: gray;
}

.form-banner {
  text-align: center;
  background: hsl(248, 32%, 49%);
  border-radius: 8px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: white;
  font-size: 0.8rem;
  margin-bottom: 1.5em;
  box-shadow: 1px 2px 5px hsl(264deg 45% 29%);
}

.form-wrapper {
  background-color: white;
  padding: 2.5rem 3rem;
  border-radius: 8px;
}

.form-control {
  font-size: 0.85rem !important;
  font-weight: 500 !important;
  height: calc(2.8em + 0.75rem + 2px) !important;
  color: #2e2d36;
  text-indent: 1.1rem;
}

@media screen and (max-width: 768px) {
  body {
    padding: 3rem 3rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .container-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
    justify-content: center;
  }

  h1 {
    text-align: center;
    font-size: 2rem !important;
    margin: 0;
  }

  p {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .container-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-content: center;
  }

  .form-banner {
    text-align: center;
    background: hsl(248, 32%, 49%);
    border-radius: 8px;
    padding: 1rem 5rem;
    color: white;
    font-size: 0.8rem;
    margin-bottom: 1.5em;
    box-shadow: 1px 2px 5px hsl(264deg 45% 29%);
  }

  .form-wrapper {
    padding: 2rem 1.5rem;
  }
}
